[user]
	email = dewald.viljoen@rvu.co.uk
	name = DewaldV
	signingkey = CE0200BFE52B156E
[push]
	default = simple
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	pr = pull --rebase --prune
	at = for-each-ref --sort=taggerdate --format '%(align:20,left)%(taggerdate:format:%Y-%m-%d  %H:%M)%(end)%(align:18,left)%(tag)%(end)%(align:25,left)%(taggername)%(end)%(subject)' refs/tags
[http]
[https]
[proxy]
[core]
	autocrlf = input
[pull]
	rebase = true
[color]
	ui = auto
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
[commit]
	gpgsign = true
